
body {
    background-color: #F5F5F5;
}

.wrapper {
    max-width: 500px;
    margin: auto;
}

.main-header {
    margin-top: 30px;
}

.main-title {
    margin: 0;
    color: #af2f2f;
    opacity: .15;
    text-align: center;
    font-family: HelveticaUltraLight;
    font-size: 65pt;
}

.main-content {
    position: relative;
    background-color: white;
    min-height: 300px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
}

/* Add task */
.task-add {
    padding: 0;
    position: relative;
    overflow: hidden;
    height:64px;
}
.task-add:after {
    clear: both;
}
.task-select_all_button {
    background: url("assets/select-all.png") no-repeat center center;
    width: 64px;
    height: 64px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

}
.task-add_input {
    width: 87%;
    font-family: HelveticaLight;
    font-size: 14pt;
    border: none;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;

}
/* End add task */

/* Task list */
.task-list {
    min-height: 300px;
}
.task-item {
    border-bottom: 1px solid #e6e6e6;
    min-height: 64px;
    color: #707070;
    position: relative;
    cursor: pointer;
}
.task-item:first-of-type {
    border-top: 1px solid #e6e6e6;
}
.task-item:hover {
    background-color: #fafafa;
}
.task-item:after {
    content: '';
    display: table;
    clear: both;
}
.item-check_button {
    padding: 0;
    background-color: transparent;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    float: left;
    width: 36px;
    height: 36px;
    margin: 14px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    z-index: 2;
}
.item-check_button:checked {
    border-color: #88d2c4;
    background: url("assets/completed.png") no-repeat center center;
}
.item-close_button {
    background: url("assets/close.png") no-repeat center center;
    width: 18px;
    height: 18px;
    padding: 0;
    background-color: transparent;
    border: none;
    float: right;
    outline: none;
    cursor: pointer;
    z-index: 3;
}
.item-text {
    font-family: HelveticaLight;
    padding: 5px 5px;
    word-break: break-all;
    outline: none;
    background: transparent;
}
/* End task list*/


/* Footer */
.nav-footer {
    width: 100%;
    border-top: 1px solid #e6e6e6;
}

.nav-left,
.nav-center,
.nav-right {
    display: inline-block;
}

.nav-left {
    float: left;
}
.nav-center {
    text-align: center;
}
.nav-right {
    float: right;
}

.nav-item {
    display: inline-block;
    margin: 5px;
    font-family: HelveticaUltraLightLight;
    font-size: small;
    color: #888888;
    background-color: white;
    border: none;
}
/* End footer */

.secondary_layout {
    margin: 0px auto;
    height: 5px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    width: 99%;
    z-index: 2;
}
.secondary_layout:last-of-type {
    width: 98%;
    z-index: 1;
}
@font-face{
    font-family: HelveticaLight;
    src: url(fonts/helveticaneuecyr-light.otf);
}

@font-face{
    font-family: HelveticaUltraLight;
    src: url(fonts/helveticaneuecyr-ultralight.otf);
}

@font-face{
    font-family: HelveticaUltraLightItalic;
    src: url(fonts/HelveticaNeueCyr-UltraLightItalic.otf);
}